.scores {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flexrow {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
}

ul,
p,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #87888a;
}

.light {
  background-color: #bdc0c7;
}

.displayscore {
  border: 1px solid #000;
}

.Rscore {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form {
  width: 16vw;
}

button {
  border: 1px solid #000;
  box-shadow: 5px 3px #303030;
}

#submit {
  width: fit-content;
  align-self: flex-end;
}
